@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <div class="container">
        <h1 class="display-4">Akademik Makale Öneri Sistemi</h1>
        <p class="lead">Hayatınızı değiştirecek bilgileri keşfedin! Akademik Makale Öneri Sistemi, sizi yeni ve heyecan verici bilgilerle buluşturuyor. Tutkunuzla ilgili en ilginç araştırmaları keşfedin ve bilgi dünyasında bir adım öne geçin!</p>


        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Account" asp-action="SignUp">Makaleleri Keşfet</a>
    </div>
</div>
