@model OldUser
@{
    ViewData["Title"] = "Giriş Yap";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<style>
    #loadingSpinner {
        display: none;
        color: red; /* Yazı rengi */
        font-weight: bold; /* Kalın yazı */
    }

    #resultMessage {
        color: red; /* Yazı rengi */
        font-weight: bold; /* Kalın yazı */
    }
</style>
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card bg-light shadow-lg">
            <div class="card-body">
                <h2 class="card-title text-center mb-4" style="color: #ffc107; font-weight: bold;">Zakuska AI'a Hoş Geldiniz!</h2>
                <form asp-controller="Account" asp-action="SignIn" method="POST">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="font-weight-bold" style="color: #007bff; font-weight: bold;">E-posta Adresi</label>
                        <input class="form-control" asp-for="Email" placeholder="example@zakuska.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="font-weight-bold" style="color: #007bff; font-weight: bold;">Şifre</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Şifreniz">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="RememberMe" name="RememberMe" />
                        <label class="form-check-label" for="RememberMe">
                            Beni Hatırla
                        </label>
                    </div>

                    <div class="form-group text-center mt-3">
                        <button type="submit" onclick="handleButtonClick()" class="btn btn-primary btn-lg btn-block">Giriş Yap</button>
                        <div id="loadingSpinner" style="display: none;">Giriş yapılıyor, başlangıç önerileri yükleniyor...</div>
                        <div id="resultMessage"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function handleButtonClick() {
            // Butona basıldığında yükleme göstergesini göster
            document.getElementById("loadingSpinner").style.display = "block";

            // AJAX ile işlemi gerçekleştir
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Makale/IslemYap", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // İşlem tamamlandığında yükleme göstergesini gizle
                    document.getElementById("loadingSpinner").style.display = "none";
                    // Sonuç mesajını göster
                    document.getElementById("resultMessage").innerText = xhr.responseText;
                }
            };
            xhr.send();
        }
    </script>
}
