@model apiComingData
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Detay";
}

<style>
    .card-text-wrapper {
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 10px 0;
    }

        .card-text-wrapper:nth-child(even) {
            background-color: #f8f9fa;
        }

    .card-text {
        color: #333;
    }

    .detail-title {
        text-align: center;
        border: 1px solid #ffc107;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .card.mb-4 {
        border: 1px solid #ffc107;
        border-radius: 5px;
    }
</style>

<div class="container" style="margin-bottom: 20px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="detail-title">@Model.title</h1>
            <div class="card mb-4">
                <div class="card-body">

                    <div class="card-text-wrapper">
                        <p class="card-text" style="font-family: Montserrat, sans-serif; font-weight: 600;">Abstract: Model.abstractText</p>
                    </div>
                    <div class="card-text-wrapper">
                        <p class="card-text" style="font-family: Montserrat, sans-serif; font-weight: 600;">Fulltext: Model.fulltext</p>
                    </div>
                    <div class="card-text-wrapper">
                        <p class="card-text" style="font-family: Montserrat, sans-serif; font-weight: 600;">Keywords: Model.keywords</p>
                    </div>
                    <div class="card-text-wrapper">
                        <p class="card-text" style="font-family: Montserrat, sans-serif; font-weight: 600;">Id: Model.name</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
