<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zakuska AI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Zakuska_Scholar.styles.css" asp-append-version="true" />
    <style>
        .navbar-brand-centered {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 2rem;
            line-height: inherit;
            white-space: nowrap;
            font-weight: bold;
        }

        .navbar-brand {
            color: #ffc107;
        }

            .navbar-brand span {
                color: #ffc107;
                font-weight: normal;
            }

        .navbar {
            background-color: #222;
        }

        .bg-navy {
            background-color: #2C4E80 !important;
        }

        .nav-link.bold {
            font-weight: bold;
        }

        footer {
            padding: 10px 0;
            text-align: center;
        }

        .nav-item-background {
            background-color: #ffc107;
            border-radius: 5px;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navy border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand navbar-brand-centered" asp-area="" asp-controller="Home" asp-action="Index">
                    Zakuska <span>AI</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark bold" asp-area="" asp-controller="Account" asp-action="SignIn">
                                <span class="nav-item-background">Giriş Yap</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bold" asp-area="" asp-controller="Account" asp-action="SignUp">
                                <span class="nav-item-background">Kayıt Ol</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <img src="~/images/pngaccount.png" alt="Kullanıcı" style="width: 20px; height: 20px; margin-right: 5px;" />
                            <span style="color: white; margin-right: 10px;">@User.Identity.Name</span>
                        </li>
                        <li class="nav-item">
                            <form id="logoutForm" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="btn btn-link nav-link text-dark bold nav-item-background">
                                    Çıkış Yap
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Tüm Hakları Saklıdır. &copy; 2024 - Zakuska AI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
